.benefits {
  margin-bottom: 131px;
}

.benefitsWrapper {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px;
  box-shadow: 0px 2px 20px;
  /* Putting a little shadow on the wrapper  */
  position: relative;
}

.benefitsTitle {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  /* Function "transform" allows to changge the element's appearence by rotating, flipping, distorting, resizing etc. The value "translateY" translates an element vertically (Y-axis).  */
  background-color: #fff;
}

.benefitsCards {
  display: -ms-grid;
  display: grid;
  /* Making the element display in the grid format*/
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(3, 1fr);
  /* "grid-template-columns" sets the number of columns in the grid and defines their width */
  -webkit-column-gap: 55px;
  -moz-column-gap: 55px;
  column-gap: 55px;
  /* Sets the gutters (space) between the columns */
  padding: 0 100px;
}

.benefitsCard {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  /* Putting the content of the grid into 1 column (their own ones) */
  margin-bottom: 112px;
}

.benefitsCardPic {
  max-width: 66px;
  /* Addressing the picture of the card */
  margin-bottom: 37px;
}

.benefitsCardThumb {
  display: block;
}

.benefitsCardTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}
.benefitsCardDesc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefitsCardMore {
  display: inline-block;
  padding-right: 59px;
  /* The value is set by combining the width of the element (arrow) of 33px and the space between the elements of 26px */
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(./svg/arrow-right-icon.svg) no-repeat 95% center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  /* Setting the transition between the initial state and hover\focus */
}

.benefitsCardMore:hover,
.benefitsCardMore:focus {
  background: url(./svg/arrow-right-icon.svg) no-repeat right center;
}